/* colors */
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$light-grey: #FAFAFA; // main bg

$greyish: #D8D8D8; // cara
$grey: #F4F4F4; // progress bar

/* font */

$font-size: 1rem;

$font-family: 'Commissioner', sans-serif;

$transition: ease-in-out 300ms;

$mobile: 23em;
$tablet: 48em;


@mixin tablet {
    @media screen and(min-width: $tablet) {
      @content;
    }
}


@mixin mobile {
    @media screen and(max-width: $mobile) {
      @content;
    }
}