$mobile: 47em;
$tablet: 48em; //768px
$tablet-bookmark: 51em; //816px
$desktop: 62.5em;

@mixin tablet {
  @media screen and(min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and(max-width: $mobile) {
    @content;
  }
}

@mixin tablet-bookmark {
  @media screen and(max-width: $tablet-bookmark) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width: $desktop) {
    @content;
  }
}
